/* 
1- reset
2- normalize
3- etiquetas
4- animaciones
5- layouts
6- clases
7- custom
8- media
*/

/* 3- etiquetas 
---------------------*/
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize; /*1a letra mayuscula*/
}

h1 {
    color: teal;
}

/* formato al texto del formulario: verde, correcto; rojo, incorrecto */
input[type="text"]:valid, input[type="email"]:valid, input[type="url"]:valid, input[type="password"]:valid, input[type="number"]:valid {
    /* :focus --> para que las casillas no estén siempre marcadas en rojo sino sólo cuando el contenido está mal*/
    color: #6e707e;
    background-color: #fff;
    border-color: rgba(73, 231, 59, 0.63);
    outline: 0;
    box-shadow: 0 0 0 0.2rem, rgba(73, 231, 59, 0.63);
}

input[type="text"]:focus:invalid, input[type="email"]:focus:invalid, input[type="url"]:focus:invalid, input[type="password"]:focus:invalid, input[type="number"]:focus:invalid {
    color: #e74a3b;
    background-color: #fff;
    border-color: rgba(231, 73, 59, 0.63);
    outline: 0;
    box-shadow: 0 0 0 0.2rem, rgba(231, 73, 59, 0.63);
}


/* 5- layouts 
---------------------*/
nav {
    min-height: 10vh; /* ocupa el 10% del alto de la pantalla del dispositivo */
}

main{
    min-height: 80vh; /* damos una altura mínima para que el pie no aparezca pegado al main y se sitúe al final de la pantalla */
}

/* FOOTER */
footer {
    min-height: 10vh;
}

footer a {
    color: white;
}

footer a:hover {
    color: yellow;
}

footer li {
    text-align: center;
}

ul, ol {
    list-style: none;
}


/* 6- clases
---------------------*/
/* si queremos añadir 1 imagen de fondo en el login: */
.bg-login-image {
    /* background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800"); */
    background: url("https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-position: right;
    background-size: cover;
  }
    
/* .col-6 div{ /* para dar formato al contenido del formulario y de la tabla
    border-color: blue;
    background-color: white;
}*/

/* .col, .col-sm */
.row div[class^="col"] { /* selector de atributos para dar estilos a todos los div (dentro de row) que tengan una clase que comience por "col" */
    border: 1px solid #333;
    background-color: #ddd;
    padding: 20px;
}

.rounded-circle {  /* fotos tabla */
/*  display:block; 
    margin:auto; */
    width: 50px;
    height: 50px;
}

.card-header {
    color: white;
    background-color: #007bff;
}


/* IMÁGENES */
img {
    width: 70%;
    margin: auto;
	display:block;
}


/* 7- custom */
.fa-github, .fa-paw{ /* fontawesome */
	color: white;
	font-size: 1.5em;
    text-decoration: none; /* quita la línea de subrayado del link */
}


/*
.containerCards { /* no queremos que las cards de los perros salgan en 1 sola columna, sino en horizontal
                y en tantas columnas como se necesite para que se distribuyan a lo ancho de la pantalla 
    width: 80%; 
    margin: auto;
    
    /* popiedades para flexbox: 
    display: flex; /*por defecto, su display era block, los hijos ocupaban todo el espacio del padre 
    flex-direction: row; /* por defecto 
    flex-wrap: wrap; /* por defecto acomoda todos los hijos sin desbordar 
    justify-content: center; /*justificar el contenido  
}*/

