/* LAYOUTS */
nav {
    min-height: 10vh; /* ocupa el 10% del alto de la pantalla del dispositivo */
}

main{
    min-height: 80vh; /* damos una altura mínima para que el pie no aparezca pegado al main y se sitúe al final de la pantalla */
}

/* formato al texto del formulario: verde, correcto; rojo, incorrecto */
input[type="text"]:valid, input[type="email"]:valid, input[type="url"]:valid, input[type="password"]:valid, input[type="number"]:valid {
    /* :focus --> para que las casillas no estén siempre marcadas en rojo sino sólo cuando el contenido está mal*/
    color: #6e707e;
    background-color: #fff;
    border-color: rgba(73, 231, 59, 0.63);
    outline: 0;
    box-shadow: 0 0 0 0.2rem, rgba(73, 231, 59, 0.63);
}

input[type="text"]:focus:invalid, input[type="email"]:focus:invalid, input[type="url"]:focus:invalid, input[type="password"]:focus:invalid, input[type="number"]:focus:invalid {
    color: #e74a3b;
    background-color: #fff;
    border-color: rgba(231, 73, 59, 0.63);
    outline: 0;
    box-shadow: 0 0 0 0.2rem, rgba(231, 73, 59, 0.63);
}

/* si quisiéramos añadir 1 imagen de fondo en el login */
.bg-login-image {
    background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800");
    background-position: center;
    background-size: cover;
  }


h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize; /*1a letra mayuscula*/
}

h1 {
    color: teal;
}

/* CLASES */
    
/* .col-6 div{ /* para dar formato al contenido del formulario y de la tabla
    border-color: blue;
    background-color: white;
}*/

/* .col, .col-sm */
.row div[class^="col"] { /* selector de atributos para dar estilos a todos los div (dentro de row) que tengan una clase que comience por "col" */
    border: 1px solid #333;
    background-color: #ddd;
    padding: 20px;
}

.rounded-circle {  /* fotos tabla */
/*  display:block; 
    margin:auto; */
    width: 50px;
    height: 50px;
}

.card-header {
    color: white;
    background-color: #007bff;
}





/* FOOTER */
footer {
    min-height: 10vh;
}

footer a {
    color: white;
}

footer a:hover {
    color: yellow;
}

footer li {
    text-align: center;
}

ul, ol {
    list-style: none;
}

/* IMÁGENES */
img {
    width: 70%;
    margin: auto;
	display:block;
}


/* custom */
.fa-github, .fa-paw{ /* fontawesome */
	color: white;
	font-size: 1.5em;
    text-decoration: none; /* quita la línea de subrayado del link */
}


.containerCards { /* no queremos que las cards de los perros salgan en 1 sola columna, sino en horizontal
                y en tantas columnas como se necesite para que se distribuyan a lo ancho de la pantalla */
    width: 80%;
    margin: auto;
    
    /* popiedades para flexbox: */
    display: flex; /*por defecto, su display era block, los hijos ocupaban todo el espacio del padre */
    flex-direction: row; /* por defecto */
    flex-wrap: wrap; /* por defecto acomoda todos los hijos sin desbordar */
    justify-content: center; /*justificar el contenido */
    
}

